<%= form_for(@product_line) do |f| %>
  <% if @product_line.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product_line.errors.count, "error") %> prohibited this product_line from being saved:</h2>

      <ul>
      <% @product_line.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
