<div class='product-lines-container padding-top'>
<p id="notice"><%= notice %></p>
<h2>Lineas de Productos</h2>
<%= link_to 'Nueva linea', new_product_line_path, class:'btn btn-primary' %>
<div class='line'></div>
    <div class='cards-container'>
      <% @product_lines.each do |product_line| %>
        <div class="card bg-light mb-3" style="max-width: 18rem;">
          <h5 class="card-header"><%= product_line.title %></h5>
          <div class="card-body">
            <%= link_to 'Mostrar', product_line, class: 'btn btn-success' %>
            <%= link_to 'Destruir', product_line, class: 'btn btn-danger',method: :delete, data: { confirm: 'Estas seguro?' } %>
          </div>
        </div>
      <% end %>
    </div>
</div>