<div class="menu-step-3">
  <div class="menu-wrapper">
    <button class="menu-back show-on-small" onclick="menuStep2()"></button>
    <h4 class="menu-title show-on-small">Cebos</h4>
    <div class="menu-products">
      <%= image_tag 'logos/logo-trompa.png', class: 'menu-product' %>
      <%= image_tag 'logos/logo-antex.png', class: 'menu-product' %>
      <%= image_tag 'logos/logo-antex-gel.png', class: 'menu-product' %>
      <%= image_tag 'logos/logo-sangha-gell.png', class: 'menu-product' %>
      <%= image_tag 'logos/logo-dagger.png', class: 'menu-product' %>
    </div>
  </div>
</div>
