<div class='agriculture-line-container padding-top'>
  <div class='agr-line-title'>
    <span>Cebos</span>
    <div class='line'></div>
  </div>
  <div class='products-container grid-container'>
    <%= image_tag('l-ig-stronger', class: 'agr-line-image ')%>
    <%= image_tag('l-ig-zabra', class: 'agr-line-image ')%>
    <%= image_tag('l-ig-trompa', class: 'agr-line-image ')%>
    <%= image_tag('l-ig-antex', class: 'agr-line-image ')%>
    <%= image_tag('l-ig-trompa', class: 'agr-line-image ')%>
  </div>
</div>

<div class='agriculture-line-container'>
  <div class='agr-line-title'>
    <span>Generador de Humo</span>
    <div class='line'></div>
  </div>
  <div class='products-container'>
    <%= image_tag('l-ig-antex', class: 'agr-line-image ')%>
  </div>
</div>


<div class='agriculture-line-container'>
  <div class='agr-line-title'>
    <span>Trampas de Goma</span>
    <div class='line'></div>
  </div>
  <div class='products-container'>
    <%= image_tag('l-ig-stronger', class: 'agr-line-image ')%>
    <%= image_tag('l-ig-zabra', class: 'agr-line-image ')%>
  </div>
</div>

<div class='agriculture-line-container'>
  <div class='agr-line-title'>
    <span>Aerosol</span>
    <div class='line'></div>
  </div>
  <div class='products-container'>
    <%= image_tag('l-ig-stronger', class: 'agr-line-image ')%>
  </div>
</div>

<div class='agriculture-line-container'>
  <div class='agr-line-title'>
    <span>Fungicidas</span>
    <div class='line'></div>
  </div>
  <div class='products-container'>
    <%= image_tag('l-ig-stronger', class: 'agr-line-image ')%>
  </div>
</div>
