<div class='category-form'>
  <%= form_for(@category) do |f| %>
    <% if @category.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

        <ul>
        <% @category.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

 
    <div class="form-group row">
      <%= f.label :name, class: 'col-2 col-form-label' %><br>
      <div class="col-10">
        <%= f.text_field :name, class: 'form-control' %>
      </div>
    </div>
      
    <div>
      <%= f.hidden_field :product_line_id, value: @product_line.id %>
      <%= f.submit class: 'btn btn-primary'%>
    </div>
  <% end %>
</div>