<div class='product-lines-container padding-top'>
<p id="notice"><%= notice %></p>
<h2><strong><%= @category.name %></strong></h2>
<%= link_to 'Nuevo Producto', new_product_path(category: @category), class:'btn btn-primary' %>
<%= link_to 'Editar', edit_category_path(@category.id), class: 'btn btn-warning' %> 
<%= link_to 'Volver', product_line_path(@category.product_line_id), class: 'btn btn-secondary' %>
<div class='line'></div>
    <div class='cards-container'>
      <% @products.each do |product| %>
        <div class="card bg-light mb-3" style="max-width: 22rem;">
          <h5 class="card-header"><%= product.name.capitalize %></h5>
          <div class="card-body">
            <%= link_to 'Editar', edit_product_path(product.id, category: @category), class: 'btn btn-warning' %>
            <%= link_to 'Destruir', product_path(product.id), class: 'btn btn-danger',method: :delete, data: { confirm: 'Estas seguro?' } %>
          </div>
        </div>
      <% end %>
    </div>
</div>