<header class='header-super-container'>
  <div class='header-container'>
    <nav class='nav-container'>
      <%= link_to(root_path)  do %>
        <%= image_tag ('allister-logo') %>
      <% end %>
      <div class='nav-links'>
        <%= link_to("Línea Agrícola", 'agriculture_line', class: 'flex-1') %>
        <%= link_to("Línea Urbana", 'urban_line', class: 'flex-1') %>
        <%= link_to("Nutrición De Plantas", 'nutrients_line', class: 'flex-1') %>
        <%= link_to("Nosotros", 'about_us', class: 'flex-1') %>
        <%= link_to("Contacto", 'contact_us', class: 'flex-1') %>
      </div>
    </nav>
  </div>
</header>
